    <tr>
        <td colspan="3" align="center">
            
            
            <table>
                <tr>
                    <td>
                        <!-------------------------------------->
                      
                      <table width=350px border=2>
                          <tr>
                              <td align=center>
                                  <H1>New Customer</H1>
                              
<%= render 'form' %>                                  
                              </td>
                          </tr>
                      </table>  



                        <!-------------------------------------->
                    </td>
                </tr>
            </table>
            
            
        </td>
    </tr>
    <tr>