
    
    <tr>
        <td colspan="3" align="center">
            <%= image_tag("nosotros-1024x345.jpg")%>
        </td>
    </tr>
    <tr>
    
    <td colspan="3">
        
        <table>
            
            <tr height=200px >
            <td colspan ="8" bgcolor=white>
            <h2><font>Welcome</font></h2>
                
            dictum. magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, ursus eleifend, elit. Aenean auctor sus eleifend, elit. adipiscing elit mauris fermentum dictum. magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, ursus eleifend, elit. Aenean auctor sus eleifend, elit. adipiscing elit mauris fermentum dictum. magna. Sed laoreet dictum. magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, ursus eleifend, elit. Aenean auctor sus eleifend, elit. adipiscing elit mauris fermentum dictum. magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, ursus eleifend, elit. Aenean auctor sus eleifend, elit. adipiscing elit mauris fermentum dictum. magna. Sed laoreet
             
            </td>
            <td bgcolor=white>
            <h2><font>News</font></h2>
            
            dictum. magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, ursus eleifend, elit. Aenean auctor sus eleifend, elit. adipiscing elit mauris fermentum dictum. magna. Sed laoreet aliquam leo.
            
            </td>
            </tr>
            
            
            <tr>
                <td bgcolor="#252525" width="18%">
                    <font color="#FF9C00">About Us</font>
                    <table><tr><td width="85%">
                    <font color="#585858">
                        dictum. magna. Sed laoreet aliquam leo. 
                        Ut tellus dolor, dapibus eget, ursus eleifend, 
                        elit. Aenean auctor sus eleifend, elit. adipiscing 
                        elit mauris fermentum dictum. magna. Sed laoreet aliquam leo.
                    </font>
                    </td></tr></table>
                </td>
                <td bgcolor="white" width="1%" ></td>
                <td bgcolor="#252525" width="18%">
                    <font color="#FF9C00">Services</font>
                    <table><tr><td width="85%">
                    <font color="#585858">
                        dictum. magna. Sed laoreet aliquam leo. 
                        Ut tellus dolor, dapibus eget, ursus eleifend, 
                        elit. Aenean auctor sus eleifend, elit. adipiscing 
                        elit mauris fermentum dictum. magna. Sed laoreet aliquam leo.
                    </font>
                    </td></tr></table>                    
                </td>
                <td bgcolor="white" width="1%" ></td>
                <td bgcolor="#252525" width="18%">
                    <font color="#FF9C00">References</font>
                    <table><tr><td width="85%">
                    <font color="#585858">
                        dictum. magna. Sed laoreet aliquam leo. 
                        Ut tellus dolor, dapibus eget, ursus eleifend, 
                        elit. Aenean auctor sus eleifend, elit. adipiscing 
                        elit mauris fermentum dictum. magna. Sed laoreet aliquam leo.
                    </font>
                    </td></tr></table>                    
                </td>
                <td bgcolor="white" width="1%" ></td>
                <td bgcolor="#252525" width="18%">
                    <font color="#FF9C00">Drivers</font>
                    <table><tr><td width="85%">
                    <font color="#585858">
                        dictum. magna. Sed laoreet aliquam leo. 
                        Ut tellus dolor, dapibus eget, ursus eleifend, 
                        elit. Aenean auctor sus eleifend, elit. adipiscing 
                        elit mauris fermentum dictum. magna. Sed laoreet aliquam leo.
                    </font>
                    </td></tr></table>                    
                </td>
                <td bgcolor="white" width="1%" ></td>
                <td bgcolor="white" width="20%">
                    dictum. magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, ursus eleifend, elit. Aenean auctor sus eleifend, elit. adipiscing elit mauris fermentum dictum. magna. Sed laoreet aliquam leo.
                </td>
            </tr>
        </table>
        
    </td>
        
    </tr>
    
